<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DbFriend.Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DbFriend.Testing.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>dbFriend_IntegrationTest</value>
            </setting>
            <setting name="userid" serializeAs="String">
                <value>app_dbfriend</value>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value>hellodbfriend123</value>
            </setting>
        </DbFriend.Testing.Properties.Settings>
    </applicationSettings>
</configuration>